.bordar{
	margin:30px;
	display:block;
}

.bordar img {
	display: inline-block;
	border-radius:50%;
	height:300px;
	width:auto;
}

.bordar p{ 
	color:white;
	display: inline-block;
	vertical-align: top;
	padding-top: 110px;
}