
body{
	background-color:black;
}
.white{
	color:white;

}

a{
	text-decoration:none;
	color:black;
}


.yellow{
	color:yellow;
}


.font{
	font-family:'Marck Script';
}


h1 {
	color: black;
	font-size:50px;
	font-family:'Marck Script';
	margin-top:1px;
	text-align: center;
   } 

.nav_bar {
	background-image:url("../images/image3.jpeg"); 
	padding:0px;
	width :450px;
	height:40px;
	border:solid black 1px;
	display:inline-block;

}


.inline{
	display:inline-block;
}


li:hover{
	background-color:gray; 
}

li {
	color:white;
	padding:10px
}

.header-style{
	background-image:url("../images/image3.jpeg"); 
	width :1340px;
	height:150;
	border:solid black 1px;
}

form{
	color:white;
    margin:20px;}


h2{ font-size:30px;
	color:white;
	margin:10px;
    margin-top:10px; }

.gazaimg{
	float:right;
    margin:10px;}


.diri{

	width:200px;
    margin-top:-10px;}


h4{
   margin:10px;
   color:lightblue;
   }

h5{color:lightblue;
  font-size:15px;
  margin:15;
  margin-top:0px;
}

.center{
	background: #756e6e;
	border: solid white;
	padding: 20px;
	float: center;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 40px;
}

textarea{
	resize: none;
	width: 300px;
	height: 150px;
}



.gazaima{
    border-radius: 10%;
	float:right;
    margin:10px;
    margin-top: 0px;
}

