
body{
	background-color:black;
}
.white{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
}

a {
	text-decoration:none;
	color:black;
}


h1 {
	font-size: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top:5px;
	text-align: center;
   } 

.nav_bar {
	background-image:url("../images/image3.jpeg"); 
	padding:0px;
	width :320px;
	height:100px;
	border:solid black 1px;

}


.inline{
	display:inline-block;
}

li:hover {
	
	background-color:gray; 
}

li {
	color: white;
	padding:10px
}

.header-style{
	background-image:url("../images/image3.jpeg"); 
	width :1270px;
	height:150;
	border:solid black 1px;
}
form{
	color:white;
    margin:20px;}

h2{ font-size:30px;
	color:gray;
	margin:10px;
    margin-top:10px; }