
body{
	background-color: grey;
}

.background_img{
	color: black;
	font-size: 10px;
	float: center;
	background-image: url("https://pbs.twimg.com/profile_images/850760805574471680/kcyxNgph.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	border:solid black 10px;
	border-radius: 10%;
	
}


.white{
	color:white;
}

h1 {
	text-align: center;
}

.nav_bar {
	width : 500px;
}






.centre{
	margin: auto;
	width : 200px ;
}

.right{
	float: right ;
}

.inline{
	display: inline-block;
}

.nav_bar{
	border:solid black 10px;
}

a {

	text-decoration: none;
}

a:hover {
	color:white;
}

li:hover {
	
	background-color: red; 
}

li {
	padding: 20px
}

