{%extends "layout.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="">
{%endblock%}


{%block body%}





<p>have you ever had some problem to find the fit restaurent for you?  then this is the exact website you want to know </p>

<p>Hade Al maqadma</p>
<p> Hade is 16 years old</p>
<img src="../static/images/hadi.jpg" width="auto">

<p>Khaled Zaquot</p>
<p>khaled is 16 years old</p>
<img src="../static/images/khaled.jpg" width="auto">

<p> Roaa Wadi</p>
<p> Roaa is 15 years old</p>
<img src="../static/images/roaa.jpg" width="auto">

{%endblock%}