{%extends "layout.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="../static/stylesheets/aboutusstyle.css">
{%endblock%}


{%block body%}
<div class="bordar">
	<img src="../static/images/hadi.jpg" />
	<p>Hello ! My name is Hade AL-Maqadma and I'm 16 years old,<br>
		I love football,swimming and progrramming,<br> and I want to be a doctor in the future.</p>
</div>

<div class="bordar">
	<img src="../static/images/roaa.jpg" />
	<p> Hi, My name is Roaa Wadi and I'm 15 years old,<br> I love learning new languges and travelling,<br> and I want to be a big businesswoman</p>
</div>

<div class="bordar" >
	<img src="../static/images/khaled.jpg" />
	<p> What's up! My name is Khaled Zaqout and I'm 16 years old,<br> I love computer science,basketball and swimming ! <br> and I hope to be an Enginer. </p>
</div>




{%endblock%}