{%extends "layout.html"%}
{%block head%}
{%endblock%}


{%block body%}

<img class="gazaimg" src='../static/images/imagemaps.png' height=600px width=800px>
<h4>-Are you new in Gaza? <br>-Having some troubles finding the fit resturant?<br>
       <br>
Then you're in the right place !</h4>
<h5><br>Here, you can find the fit restaurant for you,see where the restaurants are.<br>  </h5>
<p class="white"><b>
* choose where do you wanna have your lunch for today!</b></p>
<ul class="diri">
	<a href="/south"><li>South gaza</li></a>
	<a href="/north"><li>North gaza</li></a>
	<a href="/west"><li>East gaza</li></a>
	<a href="/east"><li>Wast gaza</li></a>
</ul>
{%endblock%}