<!Doctype html>
<html>

<head>
	<title>My resturant Website</title>
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
	{%block head%}
	{%endblock%}
	

</head>

<body>

<div class=header-style>
	<h1>
		Find Your Resturant
	</h1>
</div>



	<ul class=" nav_bar">
		<li class = "inline">
			<a href="/" > home page</a>
		</li>
		<li class = "inline" >
			<a href="/aboutus" >about-us</a>
		</li>
		<li class = "inline" >
			<a href="/contactus" >contact-us </a>
		</li>
		
	</ul>

{%block body%}
{%endblock%}






</body>