{%extends "layout.html"%}
{%block head%}
{%endblock%}


{%block body%}

<h2> Resturants in East Gaza :-</h2>
<ul>
	<a href="https://www.facebook.com/RootsHotel/"><li>AL-Roots * Resturant and Hotel</li></a>
		<img src="../static/images/thumb.php.jpeg" height="150px" , width="300px" />
		<img src="../static/images/roots.jpg" height="150px" , width="300px" />
	<a href="https://www.facebook.com/Gaza.Lighthouse/"><li>Light House * Resturant and coffeshop</li></a>
		<img src="../static/images/9a249ff018.jpg" height="150px" , width="300px" />
		<img src="../static/images/imagespp.jpeg" height="150px" , width="300px" />

</ul>


{%endblock%}